* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1 h2 h3 h4 h5 h6 p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}

/* =========== header part =========== */
@keyframes sliding {
    from{
        background-color: #161616;
    }
    to{
        background-color: cadetblue;
    }
}
.container {
    max-width: 1321px;
    margin: auto;
}
.hero {
    margin-top: 50px;
    background-color: #161616;
    display: flex;
    align-items: center;
    border-radius: 20px;
    animation: sliding 5s ease-in-out 0.5s infinite alternate;
    animation-play-state: running;
}
.half-width {
    width: 50%;
}
h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    padding-left: 106px;
    padding-bottom: 20px;
}
p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 106px;
}
.button {
    background: #DD0000;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 90px;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    margin-left: 106px;
}
.hero-text {
    padding: 110px 0;
}
.button i {
    padding-left: 10px;
}
.half-width img {
    width: 95%;
    margin-top: 35px;
}

/* =========== header part end =========== */

/* =========== main part =========== */

.blog {
    display: flex;
    margin-top: 130px;
}
.menu {
    width: 380px;
    height: 270px;
    background-color: #161616;
    margin-right: 24px;
    border-radius: 10px;
}
.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.menu li {
    background-color: white;
    padding: 15px 0;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
}
.menu a {
    color: #161616;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
#blog-button {
    background-color: #DD0000;
}
#blog-button a {
    color: white;
}
.main-theme {
    display: grid;
    width: 100%;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}
.match-image {
    width: 100%;
    margin-bottom: 15px;
}
.match-details {
    padding: 0 15px;
}
.match-details a {
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 4px 16px;
    font-size:16px;
    font-weight: 500;
    line-height: 24px;
    color: #161616;
}
h3 {
    color: #161616;
    font-size:18px;
    font-weight: 600;
    line-height: 27px;
    margin: 15px 0;
}
.icon i {
    margin-right: 5px;
}
.icon span {
    margin-right: 30px;
}
#view {
    background-color: #DD0000;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    display: none;
}
.view-btn {
    display: flex;
    justify-content: center;
}
.main-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding-left: 10px;
}
#match-title {
    color: #161616;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}
#match-info {
    color: #4D4D4D;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-left: 5px;
}
.boundary {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 43px 20px;
    justify-content: center;
}

/* =========== main part end =========== */

/* =========== footer part =========== */
.footer {
    margin-top: 130px;
    background-color: #161616;
}

h2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 45px;
}
hr {
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    width: 85%;
    margin: auto;
}
.footer-menu ul li {
    color: white;
    text-align: center;
    padding-top: 60px;
}
li {
    margin-bottom: 10px;
    padding: 0 30px;
}
ul {
    display: flex;
    justify-content: center;
}
.social-icon {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 85px;
}
.social-icon a i {
    color: white;
    font-size: 30px;
    padding: 0 10px;
}

/* =========== footer part end=========== */





/* =========== Responsive for tab =========== */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 734px;
        margin: auto;
    }
    .hero {
        margin-top: 40px;
    }
    .half-width {
        width: 50%;
    }
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 32px;
    }
    .button {
        font-size: 18px;
        line-height: 23px;
    }
    .button i {
        font-size: 15px;
    }
    .half-width img {
        width: 95%;
        height: 380px;
    }

    /* =========== header part end =========== */

    .blog {
        flex-direction: column;
        margin-top: 70px;
    }
    .menu {
        width: 95%;
        background-color: rgb(255, 255, 255);
        height: 110px;
        margin: auto;
    }
    .menu ul {
        display: flex;
        flex-direction: row;
    }
    .menu li {
        border: 1px solid #E8E8E8;
    }
    .main-theme {
        margin-top: 35px;
        margin-left: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    #view {
        display: inline;
    }
    .main-img {
        padding-left: 30px;
    }

    /* =========== main part end =========== */

    .footer-menu {
        width: 70%;
        justify-content: center;
        margin: auto;
    }
    .footer-menu ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .footer li {
        margin: 0;
        padding: 0;
    }
    hr {
        width: 85%;
        margin: auto;
    }
}

/* =========== Responsive for tab end =========== */

/* =========== Responsive for mobile =========== */

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
    .hero {
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }
    .half-width{
        width: 100%;
        text-align: center;
    }
    .hero-text {
        height: 180px;
        margin-right: 120px;
    }
    h1 {
        font-size: 30px;
        font-weight: 700;
        line-height: 33px;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        padding-top: 8px;
        padding-bottom: 16px;
    }

    /* =========== header part end =========== */

    .blog {
        flex-direction: column;
        margin-top: 70px;
        justify-content: center;
    }
    .menu {
        background-color: white;
        width: 70%;
        height: 270px;
        margin: auto;
        padding-bottom: 30px;
    }
    .menu li {
        border: 1px solid #E8E8E8;
    }
    .main-theme {
        width: 95%;
        margin-top: 30px;
        margin-left: 100px;
        grid-template-columns: repeat(1, 1fr);
    }
    h3 {
        width: 400px;
    }
    .match-details {
        padding: 0;
    }
    .main-img {
        
        padding-left: 80px;
    }
    #match-title {
        width: 300px;
        padding-left: 60px;
    }
    #match-info {
        width: 200px;
        padding-left: 110px;
    }
    .boundary {
        width: 400px;
    }
    .mini {
        margin: auto;
    }

    /* =========== main part end =========== */

    .footer {
        margin-top: 70px;
    }
    .footer-menu ul {
        display: inline;
    }
    .footer ul li {
        padding: 10px;
    }
    hr {
        margin-bottom: 50px;
    }
}




/* =========== Responsive for mobile end =========== */